# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Electron
dist/
build/
out/
electron-builder-cache/
*.asar
*.db

# Logs
logs/
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# VSCode settings
.vscode/
.idea/
*.iml

# Compiled files
*.tsbuildinfo
*.lock

# Other
server.log

# 自作用
.tmp/
